* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: grey;
    color: white;
}

.upzone {
    background-color: lightblue;
    padding: 5px 20px;
    color: darkblue;
    border-radius: 30px;

}

.logo {
    font-size: 50px;

}

.border {


}
.control-panel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.octave {
    font-size: 24px;
}

.piano {
    position: relative;
    height: 400px;
}

.key {
    height: 400px;
    border: 3px solid black;
    text-align: center;
}

.key.white {
    width: 14.2857142857%;
    float: left;
    border-right: none;
    padding-top: 300px;
    background: white;
    color: black;
}

.key.black {
    background: black;
    color: white;
    width: 8%;
    height: 250px;
    position: absolute;
    z-index: 2;
    margin-left: -4%;
    padding-top: 190px;
}

#B {
    border-right: 3px solid black;
}

#C\# { left: 14.28%; }
#D\# { left: 28.57%; }
#F\# { left: 57.14%; }
#G\# { left: 71.42%; }
#A\# { left: 85.71%; }